<div class="container-fluid header" style="z-index: 101; position: relative;"> Contact Manager</div>

<div class="wrapper">
  <div id="left-container">
    <ul>
      <li><a routerLink="/contacts"><img src="../assets/images/contacts.png"  routerLinkActive="active" alt="Contact"></a></li>
      <li><a routerLink="/about"><img src="../assets/images/info.png" routerLinkActive="active" alt="About"></a></li>
    </ul>
  </div>
  <div id="right-container"> 
     <router-outlet></router-outlet>
  </div>
</div>








